@font-face {
    font-family: TT Lakes;
    font-style: normal;
    font-weight: 700;
    src: 
    url('https://ComRety.github.io/layoutOne/fonts/TTLakes-Bold.woff') format('woff');
}

@font-face {
    font-family: TT Lakes;
    font-style: normal;
    font-weight: 500;
    src: 
    url('https://ComRety.github.io/layoutOne/fonts/TTLakes-Medium.woff') format('woff');
}
